.header-bg {
  background:
    linear-gradient(rgba(200,200,200,0.6), rgba(200,200,200,0.6)),
    url("aivazovsky_brig-mercury_800_flop.jpg");
  );
  background-size: cover;
}
.header-fg {
  color: white;
}
